body{
  background: url(img/tecito.png);
}

#clientes, p {
  font-family: Imprint MT Shadow;
  font-style: normal;
  }


h1 {
   font-family: Imprint MT Shadow;
   font-size: 50px;

}


input {
    background: #fff  no-repeat 98% center;
}

button {
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 8px 15px;
   cursor: pointer;
   margin: 5px;
   border-radius: 4px;
}

input, label, select {
   display: block ;
   clear : none;
   margin: 13px;
}

input[type="checkbox"]{
   display: inline;
}

input:checked{
   width: 18px;
   height: 18px;
}

select {
   width: 25%;
   padding: 5px 10px;
   border-radius: 30px;
}

#validacion{
  color: red;
  font-family: Imprint MT Shadow;
  }
hr {
  border: 0 ;
  border-top: 4px double blue;
  width: 90%;
}
